<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card class="ion-totem-card">
  <ion-card-content class="ion-totem-card-content">
    <img id="totem-photo" src="https://img.freepik.com/vetores-gratis/v19-pla18_53876-43673.jpg?t=st=1743358644~exp=1743362244~hmac=d104c3d73642930b1415fa16228feb38c8237a63ce4f6f9f28a2d27166c4e48b&w=740" alt="">
    <h1>Este aplicativo foi desenvolvido como parte da avaliação para a disciplina de Desenvolvimento Móvel</h1>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Aluno 1 - Matrícula</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Aluno 2 - Matrícula</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Aluno 3 - Matrícula</ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Aluno 4 - Matrícula</ion-label>
        </ion-item>
      </ion-list>
  </ion-card-content>
  </ion-card>
